.startQuiz {
  /* background: linear-gradient(
    135deg,
    #5a6dfc 0%,
    #6f63f6 100%
  ); */

/* background: linear-gradient(135deg, #9333EA 0%, #C026D3 50%, #E879F9 100%); */
background: #0f172a;

  color: #ffffff;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 1.5px 6px rgba(30, 31, 34, 0.25);
}
