@import "tailwindcss";

@layer base {
  :root {
    /* Light mode */
    --background: 240 241 254; /* #f0f1fe */
    --foreground: 15 23 42;    /* slate-900 */
    --primary: 37 99 235;      /* blue-600 */
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .dark {
    /* Dark mode */
    --background: 15 23 42;    /* slate-900 */
    --foreground: 226 232 240; /* slate-200 */
    --primary: 59 130 246;     /* blue-500 */
  }

  html {
    scrollbar-width: none;
  }

  body {
    background: rgb(var(--background)) !important;
    color: rgb(var(--foreground));
    -ms-overflow-style: none;
  }

}


@keyframes progress-slide {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}  

@keyframes sheen {
  0%   { transform: translateX(-100%) skewX(-20deg); }
  100% { transform: translateX(300%) skewX(-20deg); }
}


