@import "tailwindcss";

@layer base {
  :root {
    /* Light mode */
    --background: 241 245 249; /* slate-100 */
    --foreground: 15 23 42;    /* slate-900 */
    --primary: 37 99 235;      /* blue-600 */
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .dark {
    /* Dark mode */
    --background: 15 23 42;    /* slate-900 */
    --foreground: 226 232 240; /* slate-200 */
    --primary: 59 130 246;     /* blue-500 */
  }

  html {
    scrollbar-width: none;
  }

  body {

     background: linear-gradient(
    135deg,
    #f1f5f9 0%,
    #e2e8f0 50%,
    #f8fafc 100%
  );
  color: #0f172a;
    -ms-overflow-style: none;
  }

}



